.no-margin-top,
.section2,
.size52px {
    margin-top: 0;
}
.a-div,
.content {
    transition: 0.5s ease-in-out;
}
.btn2,
.btn23,
.section10 {
    background-repeat: no-repeat;
    background-position: center;
}
.form-input,
.section8,
.size52px,
.slide-head-new,
body {
    font-family: Inter;
}
.accordion__header,
.btn2,
.btn23,
.button,
.card,
.controls .ctrl-btn,
.div-block-695,
.dot,
.lightbox-close,
.nav-btn,
.tab-btn,
.tab-buttons button,
.tab7 {
    cursor: pointer;
}
*,
.gallery-item,
.youtube-slide {
    box-sizing: border-box;
}
*,
body {
    padding: 0;
    margin: 0;
}
.card,
.card .image,
.image:hover,
.section8,
.wide-full,
body {
    width: 100%;
}
.nav1 a,
.size52px {
    color: #4a4a68;
}
.nav1 a {
    font-size: 14px !important;
    padding: 20px;
}
.no {
    display: none !important;
}
.box,
.cont-flex,
.flex-row,
.flex-row1,
.form-01,
.form-flex-down,
.image21,
.nav,
.nav-section,
.nav1,
.section10 {
    display: flex;
}
.a-div,
.fw-a,
.fw-mail,
.fw-phone,
.nav1 a,
.read-story {
    text-decoration: none;
}
#next-slide:hover,
#next:hover,
#prev-slide:hover,
#prev:hover {
    background-color: #6249a1;
    box-shadow: #9e8c8c 3px 3px 12px 1px;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
#testing-accordion,
.page-wrapper {
    overflow: hidden;
}
.nav-section {
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 500;
    background-color: #fff;
    padding: 10px 0;
}
.btncenter,
.centerflex,
.container,
.content.live,
.cus-slide-mobile,
.logo-container.active,
.section,
.section2,
.section4,
.section5,
.section6,
.section7,
.section8,
.tab-content7.active {
    justify-content: center;
    display: flex;
}
.content.live {
    opacity: 1;
}
.accordion,
.box1,
.cus-slider-wrapper,
.flip-card-front,
.section12,
.section2,
.section4 {
    background-color: #f9f7ff;
}
.section6,
.section8 {
    background-color: #f2eeff;
}
.a-div {
    padding: 0 !important;
    position: relative;
}
.container1,
.container2 {
    width: 1140px;
    padding-top: 20px;
}
.section10 {
    justify-content: center;
    background-image: url(./image/footer-bg.webp);
    background-size: cover;
    height: 400px;
}
.container2 {
    padding: 0;
}
.container10,
.container3,
.container4,
.container5,
.container6 {
    width: 1140px;
    padding: 80px 0;
}
.container7,
.container8 {
    width: 100%;
    padding: 80px 0;
}
.container7 {
    max-width: 1140px;
}
.container8 {
    max-width: 1280px;
}
.nav {
    justify-content: space-between;
    align-items: center;
}
.image-nav {
    border: none !important;
    width: 94px;
}
.image21 {
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
}
.flex-row,
.nav1 {
    align-items: center;
}
.img21-igm {
    width: 332px !important;
}
.size52px {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 0;
}
.color-purp,
.fw-a:hover {
    color: #785dfb;
}
.color-purp2 {
    color: #7743db;
}
.dispflex,
.item-center,
.tabflexdown {
    display: flex;
    flex-direction: column;
}
.color-grey {
    color: #4a4a68;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.form-01,
.form-heading {
    color: #333;
    text-align: left;
}
.bold600 {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
}
.flex-row {
    flex-direction: row;
    gap: 16px;
}
.flex-row1 {
    align-items: center;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
}
.image1 {
    width: 90px;
}
.wide674px {
    width: 674px;
    height: 100%;
}
.form-01 {
    align-items: stretch;
    background-color: #f7f4fd;
    border-radius: 20px;
    box-shadow: #785dfb26 -5px 10px 8px 0;
    flex-direction: column;
    font-size: 14px;
    gap: 15px;
    justify-content: center;
    line-height: 20px;
    padding: 40px 24px 50px;
    width: 450px;
}
.txt-error {
    font-size: 10px;
    padding: 5px;
}
.form-heading {
    display: inline;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
}
.btn2,
.btn23 {
    background-color: transparent;
    background-size: contain;
    height: 50px;
    border: none;
    outline: 0;
    color: #fff !important;
}
.form-heading-div {
    padding-bottom: 20px;
    width: 356px;
}
.btn2 {
    background-image: url("./image/hero-button.png");
    background-size: 100% 100%;
    width: 220px;
    font-size: 16px;
    font-weight: 700;
}
.btn23 {
    background-image: url("./image/download.webp");
    width: 400px;
    font-size: 14px;
}
.scheduler_div {
    z-index: 8000;
    background-color: #0003;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    inset: 0%;
    padding: 40px;
}
.div-block-694 {
    position: relative;
    overflow: visible;
    width: 1004px;
    border-radius: 16px;
}
.code-embed {
    overflow: hidden;
    width: 100%;
    border-radius: 16px;
    outline-offset: -2px;
    outline: #fff solid 3px;
}
.div-block-695 {
    right: 0;
    z-index: 10;
    background-color: #fff;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 10px;
    position: absolute;
    inset: -20px -20px auto auto;
    overflow: hidden;
}
.form-input {
    background-color: #fff3;
    border-radius: 5px;
    border: 0.8px solid #4a4a68;
    color: #333;
    line-height: 22.8571px;
    padding: 8px 12px;
    width: 380px;
    height: 32px;
    font-size: 16px;
}
.center-alg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.txt-color {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #58676d;
}
.center-alg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 50px;
}
.content,
.cus-slider-wrapper-mobile,
.hero-div-mobile-visible,
.logo-container,
.mobile-visible,
.no-desktop,
.slider-container9789,
.tab-content {
    display: none;
}
.hero-div {
    max-width: 50%;
}
.content {
    opacity: 0;
}
.hero-form {
    padding: 0 0 20px;
}
.tab-btn-div-b {
    width: 72px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.tabimg1 {
    width: 37px;
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 3.2rem 0;
    gap: 0;
}
.tabs {
    background: #f9f7ff;
    border-radius: 0.5rem;
    grid-template-rows: auto 1fr;
}
.btn-container {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    gap: 20px;
}
.wide444px {
    width: 444px;
}
.wide401 {
    width: 401px;
}
.button,
.button.live {
    width: 100%;
    background: #ece6ff;
}
.button:first-child {
    border-top-left-radius: 0.5rem;
}
.button:nth-child(3) {
    border-top-right-radius: 0.5rem;
}
.button {
    padding: 1rem 0;
    border: 2.5px solid transparent;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.3s linear;
    letter-spacing: 0.25rem;
    font-weight: 700;
}
.gallery,
.testimonial-slider {
    transition: transform 0.5s ease-in-out;
}
.button:hover:not(.live),
.card:hover .headingp,
.image .p {
    color: #fff;
    font-weight: 700;
}
.tabs-content {
    padding: 2rem 0;
}
.size-color-h2 {
    color: #4a4a68;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 10px;
}
.headingslder,
.slide-head-new {
    font-size: 24px;
    font-weight: 700;
    color: #4a4a68;
}
.button.live {
    border-radius: 10px;
    border: 2.5px solid #785dfb;
}
.tab-content7.active {
    height: 644px;
}
.slide-head-new {
    line-height: 30px;
    margin: 20px 0 10px;
    text-align: center;
}
.bgimgsec7 {
    margin-top: 0;
    margin-bottom: -180px;
    position: absolute;
    display: inline-block;
}
.bgimgsec7 .image {
    width: 395px;
}
.gallery-container {
    position: relative;
    margin: auto;
    width: 1140px;
}
#next,
#next-slide,
#prev,
#prev-slide,
.bgimgsec8,
.buttons,
.card .content,
.controls,
.mainSliderWrapper::after {
    position: absolute;
}
.gallery {
    display: flex;
    gap: 35px;
    min-height: 550px;
    width: 100%;
    overflow: hidden;
}
.gallery-item {
    width: 353px;
    background-color: #fff;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dots-container12 {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.gallery-item img {
    width: 353px;
    height: auto;
}
#next-slide,
#prev-slide,
.controls .ctrl-btn {
    height: 50px;
    width: 50px;
}
.imgcontainer21 {
    padding-left: 30px;
    padding-right: 30px;
}
.headingslder {
    line-height: 38px;
    text-align: left;
}
.bg-col-p,
.read-story {
    font-size: 14px;
    font-weight: 600;
}
.subhead2 {
    color: #4a4a68;
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 15px;
    text-align: left;
}
.bg-col-p,
.ptaghead,
.read-story {
    line-height: 20px;
}
.bg-col-785dbf,
.bg-col-785dbf2 {
    background-color: #785dbf;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.bg-col-785dbf {
    width: 104px;
}
.bg-col-785dbf2,
.img92 {
    width: 140px;
}
.read-story {
    color: #785dfb;
    display: inline-block;
    padding: 0 10px 0 0;
    text-align: left;
}
.bg-col-p,
.box1,
.flip-card-back p,
.flip-card-front h3,
.fnt-size2,
.subheadimg,
.tab-btn,
.tab-btn.active,
.tab-content7,
.testimonial,
.wide-full {
    text-align: center;
}
.bg-col-p {
    color: #fff;
    padding: 5px 10px;
    width: auto;
}
.fw-heading,
.h3slider,
.ptaghead,
.testimonial h3 {
    font-weight: 700;
}
.bgimgsec8,
.buttons,
.controls {
    width: 100%;
    display: flex;
}
.buttons,
.controls {
    top: 50%;
    justify-content: space-between;
    transform: translateY(-50%);
}
.controls .ctrl-btn {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}
.controls .ctrl-btn:hover {
    background-color: #6c4ff7;
}
.controls .ctrl-btn svg {
    fill: #6c4ff7;
    width: 20px;
    height: 20px;
}
.controls .ctrl-btn:hover svg {
    fill: white;
}
.buttons button,
.controls button {
    background-color: #fff;
    color: #785dbf;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 23px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #b5a2a2;
    width: 50px;
    height: 50px;
}
#prev-slide {
    left: 0;
    transform: translateX(-50%);
}
#next-slide {
    right: 0;
    transform: translateX(50%);
}
.bgimgsec8 {
    justify-content: flex-end;
    z-index: 1;
    margin-top: -90px;
}
.imgsec8bg {
    width: 350px;
}
.maindivyoutuberediction {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 10px;
}
.maindivyoutuberediction1 {
    background-color: #f7f4fd;
    height: auto;
    border-radius: 15px;
}
.thum-img22 {
    padding: 30px;
}
.imagesec777 {
    border-radius: 10px;
}
.ptaghead {
    color: #4a4a68;
    font-size: 20px;
    margin: 0 0 10px;
}
.h3slider,
.paratestmoin {
    color: #4a4a68;
    line-height: 26px;
}
.fnt-size2,
.ptaghead2 {
    margin: 0;
}
.img-txt-cont-div {
    margin: 0 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container,
.nav-buttons {
    margin-top: 20px;
}
.para-div-inside {
    padding-left: 20px;
    border-left: 3px solid #785dfb;
}
.img732321 {
    width: 70px;
    border-radius: 50px;
}
.centerflex-tab {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.tab-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}
.tab-btn {
    background: #efe8ff;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: #0003 0 0 5px 0;
}
.shadow-none {
    box-shadow: none !important;
}
.tab-btn.active {
    background: #d4c2ff;
    color: #000;
}
.nav-btn {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.imgcontainer,
.scr-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgcontainerinside {
    mix-blend-mode: darken;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 30px;
}
.wideimg200 {
    width: 100%;
    max-width: 200px;
}
.wideimg150 {
    width: 150px;
}
.wideimg168 {
    width: 168px;
}
.wideimg188 {
    width: 188px;
}
.mainSliderWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 80px 0;
}
.mainSliderWrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: #6a33ff;
    background: linear-gradient(to right, #fff 10%, transparent 20%, transparent 80%, #fff 90%);
}
.slider-container23 {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0 16px;
    max-width: 474px;
}
.testimonial-slider {
    display: flex;
    flex-direction: row;
    gap: 36px;
    width: 100%;
}
.testimonial {
    width: 100%;
    height: 350px;
    /* min-width: 434px; */
    padding: 20px;
    background: #f8f7ff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}
.card,
.cus-slide,
.slide {
    min-width: 100%;
}
.img92,
.img94 {
    padding-left: 10px;
}
.h3slider {
    margin: 17px 0 12px;
    text-align: left;
}
.paratestmoin {
    margin: 0 0 17px;
    text-align: left;
}
.fw-heading,
.fw-para {
    line-height: 32px;
    text-align: left;
}
.testmoin1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.fw-block,
.testmoin2 {
    flex-direction: column;
}
.testmoin2 {
    display: flex;
    width: 254px;
}
.borderimgdiv {
    display: flex;
    border-left: 3px solid #785dfb;
}
.img91 {
    width: 25px;
}
.img94 {
    width: 80px;
}
.img93 {
    width: 100px;
    border-radius: 50%;
}
.testimonial p {
    font-size: 16px;
    color: #555;
    text-align: left;
}
.testimonial h3 {
    margin: 10px 0 5px;
    color: #333;
    text-align: left;
}
.testimonial span {
    font-size: 14px;
    color: #777;
    text-align: left;
}
.testimonial .company-logo {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial .company-logo img {
    width: 120px;
}
.slider-dot-container {
    text-align: center;
    margin-top: 15px;
    z-index: 9;
    position: relative;
}
.dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #ccc;
    border-radius: 20px;
    display: inline-block;
    transition: 0.5s;
}
.dot.active {
    width: 40px;
    background: #6a33ff;
}
@media (min-width: 992px) {
    .image {
        margin-bottom: 0;
    }
    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.footer-section {
    padding-top: 50px;
    padding-bottom: 25px;
}
.footer-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.footer-content {
    display: grid;
    justify-items: start;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
.fw-block,
.fw-block-center {
    display: flex;
    gap: 10px;
}
.fw-block-center {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 100px;
}
.container,
.container323 {
    align-items: center;
    width: 100%;
}
.fw-block-right {
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 16px;
}
.fw-logo {
    width: 100px;
    height: auto;
}
.fw-heading {
    font-size: 22px;
    color: #4a4a68;
}
.fw-a,
.fw-para {
    color: #4a4a68;
    font-size: 16px;
}
.fw-para {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 400;
}
.card .p,
.fw-span {
    font-weight: 500;
}
.fw-a {
    padding: 10px;
}
.fw-icon {
    width: 20px;
}
.fw-contact {
    display: flex;
    margin-bottom: 30px;
}
.fw-mail-text,
.fw-phone-text {
    color: #785dfb;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
}
.fw-line {
    background-color: #58676d40;
    height: 1px;
    margin-top: 40px;
}
.fw-copyright {
    text-align: center;
    margin-top: 24px;
    font-size: 12px;
}
.section12 {
    width: 100%;
    display: none;
}
.container323 {
    justify-content: center;
    padding-bottom: 60px;
}
.accordions {
    width: 90%;
    max-width: 60ch;
    margin: 0 auto;
    display: grid;
}
.accordion {
    border: 1px solid #f9f7ff;
    border-bottom: 1px solid #785dfb26;
    overflow: hidden;
    transition: border-color 0.5s;
}
.btn-div,
.card {
    background-color: #f7f4fd;
}
.accordion__header {
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
    color: #4a4a68;
    font-weight: 700;
    gap: 10px;
}
.font-col-size {
    font-size: 22px !important;
    font-weight: 700 !important;
    color: #4a4a68 !important;
}
.accordion input:checked ~ .accordion__content,
.accordion__content {
    display: block;
    transition: max-height 1s ease-in-out, padding 0.5s ease-in-out;
}
.accordion__header:after,
.accordion__header:before {
    content: "";
    position: absolute;
    right: 11px;
    width: 16px;
    height: 0.25em;
    background-color: #000;
    transition: 0.2s;
}
.accordion__header:after {
    transform: rotate(90deg);
}
.accordion__content {
    padding: 0 0 0 60px;
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
}
#prev,
.accordion__content p,
.hamburger,
.no_desk {
    display: none;
}
.accordion:has(input:checked) {
    background-color: #f9f7ff;
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
}
.accordion input:checked ~ .accordion__header:before {
    transform: rotate(270deg) !important;
    background-color: transparent;
}
.accordion input:checked ~ .accordion__header:after {
    transform: rotate(360deg) !important;
    background-color: #000;
}
.accordion input:checked ~ .accordion__content {
    max-height: 500px;
    padding: 0 0 10px 60px;
}
.accordion input:checked ~ .accordion__content p,
.cta,
.no_mob,
.youtube-slide.active {
    display: block;
}
.flexcont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 20px;
}
.card .image {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}
.card .p {
    font-size: 1.25em;
}
.card .image img {
    z-index: 1;
    width: 155px;
    transform: translate(-16px, -16px);
    transition: 0.35s ease-out;
    transform-origin: top left;
}
.card .content {
    bottom: 0;
    left: 0;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.card .content h3 {
    margin: 0;
    font-size: 1.2em;
}
.card .content p {
    margin-top: 10px;
    font-size: 0.9em;
}
.card:hover .content {
    display: none;
    display: flex;
    opacity: 0;
    animation: 0.5s forwards slideDown;
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.card:hover .dispflex {
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -30px;
}
.card:hover .image,
.content32 {
    flex-direction: row;
    display: flex;
}
.card:hover .p2onhover {
    font-size: 12px;
    text-align: left;
    width: 100%;
    line-height: 22px;
}
.card:hover {
    background-color: #785dfb;
}
.card:hover .image {
    justify-content: flex-start;
    align-items: flex-start;
}
.card:hover .image img {
    transform: scale(1.1) translate(0, -5px);
    width: 70px;
}
.slider-container {
    position: relative;
    width: 1040px;
    overflow: hidden;
    margin: auto;
}
.mask,
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    height: 379px;
    padding-bottom: 20px;
}
img {
    width: 100%;
    height: auto;
}
#prev {
    left: 10px;
}
#next:hover,
#prev:hover {
    color: #fff;
    transform: scale(1.1);
}
#next {
    right: 10px;
}
.btn-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    outline: #785dfb4d solid 1px;
    padding: 15px;
    gap: 16px;
}
.tab-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cus-slide,
.tab-buttons {
    justify-content: space-around;
}
.tab-buttons {
    display: flex;
    margin-bottom: 20px;
    width: 570px;
    height: 105px;
}
.tab-buttons button {
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
    background-color: rgba(255, 255, 255, 0);
    color: #4a4a68;
    font-family: Inter;
    font-size: 22px;
    font-weight: 800;
    line-height: 35.2px;
    padding: 16px;
    text-align: center;
    flex: 1;
}
.content32 {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 72px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
}
.t-b-pad {
    padding: 24px 13px 22px 0;
}
.img50pximg {
    width: auto;
    height: 50px;
    padding-right: 15px;
}
.wide-height,
.wide-height2,
.wide-height3 {
    width: 1140px;
    background-color: #f9f7ff;
    gap: 18px;
}
.tab-buttons button.active {
    background-color: #785dfb;
    border-radius: 10px;
    color: #fff;
}
.tab-content.active {
    display: block;
    opacity: 1;
    width: 100%;
}
.wide-height {
    padding: 58px 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    margin-top: 40px;
    border-radius: 20px;
}
.wide-height2 {
    padding: 0 32px 25px;
    display: flex;
    flex-direction: row;
}
.wide-height3 {
    padding: 0 32px 52px;
    display: flex;
    flex-direction: row;
}
.slide-heading {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.img-with-txt {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    padding-bottom: 25px;
}
.imgtxt {
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 17px 0 #00000014;
    color: #333;
    display: flex;
    flex-direction: column;
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-content: flex-end;
    line-height: 25.6px;
    text-align: left;
    padding-top: 20px;
    width: 113px;
    gap: 5px;
}
.img45px-wide {
    width: 45px;
}
.subheadimg {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    padding-bottom: 5px;
}
#prev-slide:hover {
    color: #fff;
    transform: translateX(-50%) scale(1.1);
}
#next-slide:hover {
    color: #fff;
    transform: translateX(50%) scale(1.1);
}
.lightbox-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #171717e2;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}
.lightbox-frame {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
}
.lightbox-close {
    font-size: 36px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 40px;
    height: 42px;
}
.cus-slide,
.cus-slide-mobile {
    position: relative;
    animation-timeline: forwards;
}
.crossimg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.email-field {
    color: #263238;
    background-color: #f8f6fb;
    border: 1px solid #785dfb;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    margin-bottom: 0;
    padding-left: 10px;
}
.h-100,
.img23,
.newtab-secimg img,
.tab7 {
    height: 100%;
}
.tab7,
.tab7.active {
    color: #410e79;
    max-width: 505px;
}
.flex-tab4523,
.tabs7 {
    display: flex;
    width: 100%;
}
.flex-tab4523 {
    justify-content: center;
    border: 3px solid #e9def5;
    border-radius: 10px;
}
.tabs7 {
    justify-content: space-between;
    flex-direction: column;
    max-width: 505px;
}
.tab7 {
    padding: 30px 40px;
    border-right: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    max-height: 92px;
    font-size: 32px;
}
.tab-content7,
.tab7.active {
    background-color: #f1e8ff;
    width: 100%;
}
.tab-content7 {
    display: none;
    height: 100%;
}
.newtab-secimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.widespace {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.paraheading {
    color: #fff;
    font-size: 30.8px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.subhead {
    font-size: 18px;
    margin-bottom: 18px;
}
.img23 {
    vertical-align: middle;
}
.btn3 {
    background-color: transparent;
    background-image: url("./image/white\ button.webp");
    width: 220px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: 0;
    color: #785dfb !important;
    font-size: 16px;
}
.fnt-size,
.fnt-size2 {
    font-size: 38px;
    font-weight: 800;
    color: #4a4a68;
}
.box {
    flex-direction: row;
    gap: 20px;
}
.fnt-size {
    margin: 0 0 25px;
}
.txt1,
.txt2 {
    margin-top: 0;
    margin-bottom: 0;
}
.box1 {
    border-radius: 10px;
    color: #333;
    padding: 20px 0;
    width: 200px;
}
.cus-slider-container,
.cus-slider-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
}
.txt1 {
    font-size: 39px;
    font-weight: 900;
}
.txt2 {
    color: #333;
    font-size: 15px;
}
.cus-slider-wrapper {
    height: 100px;
    align-items: center;
}
.cus-slide {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    animation-name: slide;
    animation-duration: 40s;
}
.cus-slide-mobile {
    min-width: 190px;
    width: 180px;
    align-items: center;
    animation: 26s linear infinite slide-mobile;
}
.cus-slide img {
    height: 45px !important;
    width: AUTO !important;
    object-fit: cover;
}
.cus-slide-mobile img {
    height: auto;
    width: 45%;
    object-fit: contain;
}
.flexrow2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.flip-card {
    width: 284px;
    height: 284px;
    perspective: 1000px;
    border-bottom: 3px solid #785dfb75;
    border-left: 3px solid #785dfb75;
}
.corner-image,
.l-corner-image {
    width: 20px;
    height: 20px;
    position: absolute;
}
.corner-image {
    bottom: -11.1px;
    right: -11px;
}
.l-corner-image {
    bottom: -11px;
    left: -11px;
}
.corner-image2 {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}
.flip-card.noleftborder {
    border-left: none;
}
.flip-card.nobottom-border {
    border-bottom: none;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card-back,
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-back,
.flip-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    gap: 10px;
}
.flip-card-back p {
    font-size: 13px;
    font-weight: 600;
    color: #4a4a68;
    align-items: center;
    padding: 0 23px;
}
.flip-card-front {
    color: #000;
}
.flip-card-back {
    background-color: #ece6ff;
    color: #fff;
}
.btncenter {
    align-items: center;
    margin-top: 20px;
}
.btncenter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
    #thankYou {
        font-size: 16px;
        text-align: center;
    }
}
@keyframes slide {
    from {
        left: 0;
    }
    to {
        left: -299%;
    }
}
@keyframes slide-mobile {
    to {
        transform: translateX(calc(-180px * 18));
    }
}
@media only screen and (max-width: 767px) {
    .card:hover .content,
    .cont-flex,
    .zoom_slider .mask {
        position: relative;
    }
    .container2,
    .container3,
    .container4,
    .form-input,
    .nav-section,
    .section12,
    .tab-buttons {
        width: 100%;
        padding: 40px 0;
    }
    .tab-buttons {
        width: 100%;
        padding: 0;
    }
    .bold600,
    .color-grey,
    .fnt-size,
    .fnt-size2,
    .fnt-size221,
    .form-heading-div,
    .fw-para,
    .size52px,
    .txt-color {
        text-align: center;
    }
    .box,
    .flexcont {
        grid-template-columns: repeat(2, 1fr);
    }
    .nav {
        justify-content: center;
    }
    .container10,
    .container3,
    .container6,
    .container7,
    .container8,
    .mainSliderWrapper {
        padding: 40px 0;
    }
    .container1,
    .imgcontainer21,
    .section,
    .section5,
    .section8 {
        padding: 0 16px;
    }
    .mainSliderWrapper::after {
        background: #ffffff00;
        display: none;
    }
    .section1 {
        max-width: 279px;
    }
    .section2 {
        max-width: auto;
        display: none;
    }
    .flexrow2 {
        display: flex !important;
        flex-direction: column !important;
    }
    .container1 {
        max-width: 280px;
    }
    .section12 {
        background-color: #f9f7ff;
        display: block;
    }
    .form-01,
    .wide444px,
    .wide674px {
        width: auto;
    }
    .fnt-size {
        font-size: 32px;
    }
    .size52px {
        font-size: 34px;
        line-height: 48px;
    }
    .flex-row1 {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 6px;
        justify-content: center;
    }
    .mobile-img50px {
        width: 50px;
    }
    .fnt-size221 {
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 800;
        line-height: 35px;
    }
    .fnt-size2 {
        font-size: 28px !important;
        padding: 5px;
    }
    .box {
        display: grid !important;
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        width: 100%;
    }
    .checkbox,
    .image21,
    .nav1,
    .tabs {
        display: none;
    }
    .txt1 {
        font-size: 2.5em;
        color: #7743db;
    }
    .card:hover .headingp,
    .txt2 {
        font-size: 14px;
    }
    .box1 {
        width: unset;
    }
    .image1 {
        width: 80px;
    }
    .color-grey {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 28px;
    }
    .form-heading {
        font-size: 22px;
    }
    .form-heading-div,
    .form-input {
        width: auto !important;
    }
    .flex-row,
    .form-flex-down,
    .maindivyoutuberediction {
        display: flex;
        flex-direction: column;
    }
    .card:hover .image,
    .cont-flex,
    .slide3242 {
        flex-direction: column;
    }
    .btn-container {
        gap: 5px !important;
    }
    .slide3242,
    .slider765 {
        gap: 20px;
        display: flex;
    }
    .flexcont {
        display: grid;
        gap: 20px;
    }
    .card:hover .p2onhover {
        font-size: 12px;
    }
    .slider-container9789 {
        width: 100%;
        overflow-x: scroll;
        position: relative;
        display: block;
    }
    .slider-container9789::-webkit-scrollbar {
        display: none;
    }
    .fw-line,
    .section4 {
        margin-top: 0;
    }
    .slider765 {
        transition: transform 0.3s;
    }
    .slide3242 {
        width: 250px;
        min-width: 250px;
        height: 370px;
        background: #ece6ff;
        justify-content: flex-start;
        font-size: 18px;
        border-radius: 15px;
        text-align: left;
        padding: 28px;
    }
    .imageee2334320 {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        background-color: #fff;
    }
    .section-center {
        margin-left: 15px;
        margin-right: 15px;
    }
    .section10,
    body {
        margin: 0 !important;
    }
    .h3side {
        color: #4a4a68;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
    }
    .parah3side {
        color: #333;
        font-size: 16px;
        line-height: 1.5rem;
    }
    .tab-btn {
        font-size: 18px !important;
        line-height: 26px !important;
        padding: 8px !important;
    }
    .tab-container {
        padding: 0;
    }
    .txt-color {
        padding: 0;
        line-height: 28px;
        color: #4a4a68;
    }
    .content32 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        max-height: 72px;
        flex-direction: row;
        font-size: 0.8rem;
        border-color: #7743db33;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 0 10px -3px #3b348633;
        border: 1px #7743db;
    }
    .wide-height,
    .wide-height2,
    .wide-height3 {
        display: grid;
        width: auto !important;
        grid-template-columns: repeat(2, 1fr);
        background-color: #fff0;
        justify-content: center;
    }
    .wide-height {
        gap: 25px;
        padding: 16px;
    }
    .wide-height2 {
        grid-template-rows: repeat(3, 100px);
    }
    .wide-height3 {
        grid-template-rows: repeat(3, 20px);
    }
    body {
        font-family: Inter;
        width: 100%;
        overflow-x: hidden;
        padding: 0 !important;
    }
    .cont-flex,
    .cus-tab-wrapper.active,
    .nav1.active {
        display: flex;
        align-items: flex-end;
    }
    .hamburger,
    .nav1 {
        position: absolute;
    }
    .img23 {
        width: 100%;
        height: 300px;
    }
    .section10 {
        height: auto !important;
        padding: 0;
    }
    .widespace {
        margin-top: 0 !important;
        width: 100%;
        margin-right: 0 !important;
        padding: 16px;
        white-space: unset !important;
    }
    .container6,
    .gallery-item img {
        width: 100% !important;
    }
    .paraheading {
        text-align: center;
        margin-top: 0;
    }
    .subhead {
        text-align: center;
        margin-bottom: 30px;
    }
    .btncenter1,
    .navigation_btns {
        display: flex;
        justify-content: center;
    }
    .no-mobile {
        display: none;
    }
    .no-desktop {
        display: block;
    }
    .custom_tab {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .cus-tab-btn-container {
        display: flex;
        flex-direction: row;
        gap: 12px;
        width: 100%;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .cus-tab-btn-container::-webkit-scrollbar {
        display: none;
    }
    .cus-tab-btn {
        text-wrap-mode: nowrap;
        border-bottom: 2px solid transparent;
        padding: 8px 12px;
    }
    .cus-tab-btn.active {
        color: #6a33ff;
        border-bottom: 2px solid #6a33ff;
    }
    .cus-tab-wrapper {
        display: none;
        border-radius: 5px;
        padding: 16px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .bgimgsec7,
    .bgimgsec8,
    .cta,
    .gallery-container {
        display: none;
    }
    .zoom_slider {
        width: 100%;
        height: 520px;
        /* max-width: 440px; */
        position: relative;
    }
    .zoom_slider .mask {
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .zoom_slider .mask .zoom_slide {
        /* min-width: 280px; */
        min-width: calc( 100% - 64px);
        width: 100%;
        height: 480px;
        background: #fff;
        box-shadow: 0 0 4px #afafaf;
        transform: translateX(0) scaleY(0.9);
        transform-origin: bottom;
        transition: 0.5s;
        border-radius: 12px;
        overflow: hidden;
    }
    .zoom_slider .mask .zoom_slide.active {
        transform: translateX(0) scaleY(1);
    }
    .gallery-item img {
        /* max-width: 330px !important; */
    }
    .gallery-item,
    .imgcontainer21 {
        width: 100%;
        /* max-width: 330px; */
    }
    .btn-show-more {
        cursor: pointer;
        color: #785dfb;
        display: flex;
        gap: 5px;
        font-size: 16px;
        font-weight: 700;
        background-color: transparent;
        border: none;
    }
    .imagegrid-mobile,
    .imagegrid-mobile-center {
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 0.25fr;
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
        gap: 16px;
        width: 100%;
        justify-content: center;
    }
    .mob-image {
        width: 100%;
        max-width: 45px;
    }
    .cont-img-txt-div {
        width: 85px;
        height: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: none;
        gap: 5px;
        padding: 8px;
        box-shadow: 0 0 4px #c1c1c1;
        border-radius: 5px;
        font-size: 10px;
    }
    .imagegrid-mobile {
        border: none;
    }
    .img50pximg {
        padding: 5px;
    }
    .itemcenter,
    .newcontainer,
    .px16padding,
    .thum-img22 {
        padding: 16px;
    }
    .imgcontainer65 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .wide330 {
        height: 100%;
        max-height: 330px;
    }
    .wideimg200 {
        width: 100%;
        max-width: 100px;
    }
    .itemcenter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .card {
        padding: 8px;
    }
    .card .content {
        padding: 10px;
    }
    .card .content p {
        font-size: 10px;
        line-height: 1rem;
        font-weight: 400;
    }
    .card:hover .dispflex {
        display: flex !important;
        padding: 0;
        gap: 10px;
        top: unset;
    }
    .card .image img {
        width: 100%;
        max-width: 120px;
    }
    .headingp {
        font-size: 12px !important;
    }
    .card:hover .image img {
        width: 100% !important;
        max-width: 30px !important;
    }
    .gridmask {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        align-items: center;
        justify-items: center;
        flex: 2;
    }
    .form-flex-down,
    .fw-block {
        align-items: center;
    }
    .form-01 {
        margin: 0 25px;
    }
    .cus-slide-mobile img {
        width: 140px;
        max-height: 40px;
        object-fit: contain;
    }
    .hero-form {
        display: flex;
        padding: 0;
        justify-content: center;
    }
    .hero-div-mobile-visible {
        display: block;
        width: 100%;
        display: contents;
        justify-content: center;
    }
    .hero-div {
        display: none;
        width: 300px;
        height: 300px;
        max-width: 100%;
    }
    .footer-section {
        padding: 60px 16px 20px;
    }
    .footer-content {
        grid-row-gap: 5px;
        grid-template-rows: auto auto auto;
        grid-auto-flow: row;
        align-items: start;
        width: 100%;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .fw-block-center {
        padding-left: 0;
        padding-top: 0;
        width: 100%;
        align-items: center;
    }
    .fw-block-right {
        width: 100%;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
    .section7 {
        padding-left: 16px;
        padding-right: 16px;
    }
    .center-alg1 {
        padding: 30px 16px;
    }
    .tab-btn {
        background-color: #fff0;
        box-shadow: #fff0 0 0 0 0;
    }
    .maindivyoutuberediction1 {
        border-radius: 15px;
    }
    .img-txt-cont-div {
        padding: 0 16px 16px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
    }
    .ptaghead {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
    .para-div-inside {
        padding-left: 8px;
        font-size: 13px;
    }
    .no_desk {
        display: block !important;
    }
    .no_mob {
        display: none !important;
    }
    .image-nav {
        object-fit: contain;
        width: 65px;
        height: 57px;
    }
    .size-big {
        max-width: 65px !important;
    }
    .nav1 {
        display: none;
        flex-direction: column;
        top: 75px;
        right: 0;
        padding: 20px;
        width: 100%;
        background-color: #f7f4fd;
    }
    .hamburger {
        font-size: 24px;
        background: 0 0;
        border: none;
        cursor: pointer;
        right: 20px;
        display: block;
    }
    .tab7 {
        display: flex;
        align-items: center;
        font-size: 11px;
        padding: 9px 0 9px 12px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .tab-content7.active {
        height: auto;
    }
    .container323 {
        justify-content: center;
        padding-bottom: 0;
    }
    .btncenter2 {
        margin-bottom: 0;
    }
}
.form-flex-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}
.email-field {
    display: none;
    opacity: 0;
    transition: opacity 0.2s, transform 0.5s;
}
.btn2 {
    border: none;
    border-radius: 5px;
    transition: transform 2.5s;
}
.txt-error {
    color: red;
    display: none;
}
@media (max-width: 768px) {
    .form-flex-down {
        flex-direction: column;
    }
    .btn2.move-down {
        transform: translateY(01px);
    }
}
@media (min-width: 769px) {
    .btn2.move-right {
        transform: translateX(01px);
    }
}
.youtube_slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.youtube-slide {
    min-width: 100%;
    display: none;
}
.no-padding-top {
    padding-top: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.no-margin-left {
    margin-left: 0;
}
.no-margin-right {
    margin-right: 0;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-40 {
    padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
    .cus-slider-wrapper {
        display: none;
    }
    .cus-slider-wrapper-mobile {
        width: 100%;
        overflow: hidden;
        display: block;
        height: 100px;
        background-color: #f1eeff;
    }
    .cus-slider-container {
        height: 100px;
    }
    .pb-40 {
        padding-bottom: 30px;
    }
    .container2 {
        padding-bottom: 60px;
    }
}

.imgcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
    width: 100%;
}
.imgcontainerinside{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}
.imgcontainerinside img{
    max-height: 40px;
    height: 100%;
    width: auto;
}
.nav-btn{
    padding:0 ;
}
.tab-sec8{
    white-space: nowrap;
}

.desktophidecontent32{
    display: none;
}

.mobilehidecontent32{
    display: flex;
}



.slider-btn {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: background-color 0.3s, transform 0.2s;
}

.slider-btn.left {
    left: 10px;
}

.slider-btn.right {
    right: 10px;
}

.slider-btn:hover {
    color:white;
    background-color: #6c4ff7;
}

.slider-btn svg {
    fill: #6c4ff7;
    width: 20px;
    height: 20px;
    transition: fill 0.3s;
}

.slider-btn:hover svg {
    fill: white;
}

@media only screen and (max-width: 767px) {
    .testmoin2{
        width: 100%;
    }
    #simpleSlider {
        height: 820px;
    }
    .zoom_slider .mask .zoom_slide {
        height: 100%;
    }
    .gridmask img{
        max-height: 40px;
        object-fit: contain;
    }
    .gridmask.vertical{
        display: grid;
        grid-template-columns: 1fr;
    }
    #submit-btn9{
        background: #fff;
        color: #775DFA!important;
    }


    .mobilehidecontent32{
        display: none;
    }


    .desktophidecontent32{
        display: flex;
        width: 100%;
        max-width: 161px;
    }

    .cont32centeralg{
        display: flex;
        justify-content: center;
    }
    .slider-btn {
        height: 40px;
        width: 40px;
    }

    .slider-btn svg {
        width: 16px;
        height: 16px;
    }
    

    .slider-btn.l1{
        left: 2px !important;
    }
    .slider-btn.r1{
        right: 2px !important;
    }

    .testimonial-slider{
        width: 100%;
    }
    .testimonial{
        min-width: calc(100% - 62px);
    }

    .testimonial{
        height: auto !important;
    }
}
