*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.page-wrapper {

  overflow: hidden;
}

.nav-section {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 500;
  background-color: #fff ;
  padding: 10px 0px;

}

.section {
  display: flex;
  justify-content: center;

}

.section2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: #f9f7ff;

}

.section5 {
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  /* background-color: #f9f7ff; */

}

.section6 {
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  /* background-color: #f9f7ff; */
  background-color: #f2eeff;

}

.a-div{
  padding: 0px !important;
  text-decoration: none;
  transition: .5s all ease-in-out;
  position: relative;
}

.section7 {
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  /* background-color: #f9f7ff; */

}

.section8 {
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  /* background-color: #f9f7ff; */
  background-color: #f2eeff;
  width: 100%;

}



.section4 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: #f9f7ff;

}


.section10 {
  display: flex;
  justify-content: center;
  background-image: url(./image/footer-bg.webp);
  background-size: cover;
  /* Ensures the image fully covers the section */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents repetition */
  height: 587px;
}

.container1 {
  width: 1140px;
}

.container2 {
  width: 1140px;
  padding: 40px 0px 40px 0px;
}

.container3 {
  width: 1140px;
  padding: 40px 0px 40px 0px;
}


.container4 {
  width: 1140px;
  padding: 120px 0px 20px 0px;

}


.container5 {
  width: 1140px;
  padding: 40px 0px 40px 0px;

}


.container6 {
  width: 1140px;
  padding: 40px 0px 40px 0px;

}

.container7 {
  width: 100%;
  max-width: 1140px;
  padding: 40px 0px 40px 0px;

}

.container8 {
  width: 100%;
  max-width: 1280px;
  padding: 40px 0px 40px 0px;

}


.container10 {
  width: 1140px;
  padding: 40px 0px 40px 0px;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*  */

.image-nav {
  width: 94px;
}

.image21 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.img21-igm {
  width: 332px !important;
}

.nav1 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav1 a {
  color: #4a4a68;
  text-decoration: none;
}


.size52px {
  font-size: 52px;
  color: #4a4a68;
  font-family: Arial;
  font-weight: 900;
  margin-bottom: 0px;
  margin-top: 0px;
}

.color-purp {
  color: #785dfb;
}

.color-grey {
  color: #4a4a68;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 36px;
  font-family: Arial, Helvetica, sans-serif;
}


.bold600 {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 10px;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 16px;
}

.flex-row1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
}

.image1 {
  width: 90px;
}


.wide674px {
  width: 674px;
  height: 100%;
}

.form-01 {
  align-items: stretch;
  background-color: #f7f4fd;
  border-radius: 20px;
  box-shadow: #785dfb26 -5px 10px 8px 0px;
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 15px;
  justify-content: center;
  line-height: 20px;
  padding: 40px 24px 50px;
  text-align: left;
  width: 450px;

}


.txt-error {
  color: red;
  font-size: 10px;
  padding: 5px;
  display: none;
}


.form-heading {
  color: #333;
  display: inline;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.form-heading-div {
  padding-bottom: 20px;
  width: 356px;
}

.btn2 {
  background-color: transparent;
  background-image: url("./image/hero-button.png");
  background-size: 250px auto;
  background-repeat: no-repeat;
  width: 220px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  color: white !important;
  font-size: 16px;
  /* padding: 20px; */
}

.btn23 {
  background-color: transparent;
  background-image: url("./image/download.webp");
  background-size: 250px auto; /* Set the desired width here */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  color: white !important;
  font-size: 14px;
}
.scheduler_div {
    z-index: 8000;
    background-color: #0003;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    inset: 0%;
}
.div-block-694 {
  position: relative;
  overflow: visible;
  width: 800px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.code-embed {
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  outline-color: hsla(0, 0.00%, 100.00%, 1.00);
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 3px;
}
.div-block-695 {
  top: -20px;
  right: 0px;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: absolute;
  inset: -40px -40px auto auto;
  overflow: hidden;
}




.form-flex-down {
  display: flex;
  flex-direction: column;
  gap: 15px;


}

.form-input {
  background-color: #fff3;
  border-color: #4a4a68;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.8px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  line-height: 22.8571px;
  padding: 8px 12px;
  width: 380px;
  height: 32px;
  font-size: 16px;
}



.center-alg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.txt-color{
  padding-top: 20px;
  padding-bottom: 20px;
}
.center-alg1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0px 50px;
}
























.tab-btn-div-b {
  width: 72px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}






.tabimg1 {
  width: 37px;
}


.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 340px;
  padding: 3.2rem 0;
  gap: 0px;
}


.tabs {
  background: #f9f7ff;
  border-radius: 0.5rem;
  grid-template-rows: auto 1fr;
}

.btn-container {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  gap: 20px;
}

.wide444px {
  width: 444px;
}

.wide401 {
  width: 401px;
}

.button:nth-child(1) {
  border-top-left-radius: 0.5rem;
}

.button:nth-child(3) {
  border-top-right-radius: 0.5rem;
}

.button {
  padding: 1rem 0;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background: #ece6ff;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.25rem;
  width: 100%;
}

.button:hover:not(.live) {
  /* background: #e93b81; */
  color: white;
}

.tabs-content {
  padding: 2rem 0rem;
}


.size-color-h2 {
  color: #4a4a68;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 10px;
}

/* hide content */
.content {
  display: none;
}

.button.live {
  width: 100%;
  border-radius: 10PX;
  border-style: solid;
  border-width: 2.5PX;
  border-color: #785dfb;
  background: #ece6ff;
}

.content.live {
  display: block;
}







.slide-head-new{
  color: #4a4a68;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 20px 0px 10px;
  text-align: center;
}




















.bgimgsec7{
  /* z-index: 1; */
  margin-top: 0;
  margin-bottom: -180px;
  position: absolute;
  display: inline-block;
}
.bgimgsec7 .image{
  width: 395px;
}







/* SECTION6 SLIDER */

.gallery-container {
  position: relative;
  width: 600px;
  margin: auto;
  width: 1140px;
  /* height: 620px; */
  /* padding: 22px; */
}

.gallery {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* height: 450px; */
  gap: 35px;
  /* gap: 20px; */
  min-height: 550px;
  width: 100%;
  overflow: hidden;
}

.gallery-item {
  /* min-width: 33.33%; */
  width: 353px;
  box-sizing: border-box;
  /* padding: 5px; */
  background-color: white;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gallery-item img {
  width: 353px;
  height: auto;
}




.imgcontainer21{
  /* width: 353px; */
  padding-left: 30px;
  padding-right: 30px;  
}

.headingslder{
  color: #4a4a68;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  text-align: left;
}


.subhead2{
  color:#4a4a68;
  font-size:14px;
  line-height:28px;
  margin: 0px 0px 15px;
  text-align: left;
}



.bg-col-785dbf{
  width: 104px;
  background-color: #785dbf;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;

}

.bg-col-785dbf2{
  width: 140px;
  background-color: #785dbf;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.read-story{
  color: #785dfb;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 0px 10px 0px 0px;
  text-align: left;
  text-decoration: none;
}
.bg-col-p{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  /* margin: 0px 0px 10px; */
  padding: 5px 10px;
  text-align: center;
  width: auto;
}



.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.controls .ctrl-btn {
  width: 50px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.controls .ctrl-btn:hover {
  background-color: #6c4ff7;
  /* transform: scale(1.1); */
}

.controls .ctrl-btn svg {
  fill: #6c4ff7;
  width: 20px;
  height: 20px;
}

.controls .ctrl-btn:hover svg {
  fill: white;
}

.controls button {
  background-color: white;
  color: #785dbf;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 23px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #b5a2a2;
  width: 50px;
  height: 50px;
}

#prev-slide {
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
  /* display: none; */
  height: 50px;
  width: 50px;
  
}

#next-slide {
  position: absolute;
  right: 0;
  transform: translateX(50%);
  height: 50px;
  width: 50px;
}






.bgimgsec8{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
  /* margin-top: 0; */
  margin-top: -90px;
  position: absolute;
  /* display: inline-block; */

}

.imgsec8bg{
  width: 350px;
}







.maindivyoutuberediction{
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-top: 10px;
}


.maindivyoutuberediction1{
 background-color: #f7f4fd;
 height: auto;
}




.thum-img22{
  padding: 30px;

}


.imagesec777{
  border-radius: 10px;
}

.ptaghead{
  color: #4a4a68;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 10px;
}
.ptaghead2{
  margin: 0px;
}

.img-txt-cont-div{
  margin: 0px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-left: 3px solid #785dfb; */
}

.para-div-inside{
  padding-left: 20px;
  border-left: 3px solid #785dfb;
  
}

.img732321{
  width: 70px;
  border-radius: 50px;
}












/* section8 */


.centerflex-tab{

  display: flex;
  flex-direction: column;
  gap: 19px;
}



.tab-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 20px 0; */
  gap: 19px;
}
.tab-btn {
  background: #efe8ff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  /* margin: 5px; */
  border-radius: 5px;
  font-size: 18px;
  box-shadow: #0003 0px 0px 5px 0px;
  text-align: center;
}



.tab-btn.active {
  background: #d4c2ff;
  color: #000;
  text-align: center;

}
.logo-container {
  display: none;
  margin-top: 20px;
}
.logo-container.active {
  display: block;
}
.nav-buttons {
  margin-top: 20px;
}
.nav-btn {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border: none;
  background-color:transparent;
  /* color: white; */
  border-radius: 5px;
}

.imgcontainer{
  display: flex;
  flex-direction: column;
  /* width: 1200px; */
  
  align-items: center;
}
.imgcontainerinside{
  display: flex;
  gap: 30px ;
  align-items: center;
  padding-top: 30px ;
}



.wideimg200{
  width: 100%;
  max-width: 200px;
}
.wideimg150{
  width: 150px;
}

.wideimg168{
  width: 168px;
}
.wideimg188{
  width: 188px;
}


/* section9 */




.mainSliderWrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 50px 0;   
}
.mainSliderWrapper::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: #6a33ff;
  background: linear-gradient(to right, #fff 10%,transparent 20%,transparent 80%,#fff 90%);
}
.slider-container23 {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 50px 16px;
  max-width: 474px;
}

.testimonial-slider {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  gap: 36px;
  width: 100%;
}

.testimonial {
  width: 100%;
  height: 350px;
  min-width: 434px;
  padding: 20px;
  text-align: center;
  background: #f8f7ff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.h3slider{
color:#4a4a68;
font-weight:700;
line-height: 26px;
margin: 17px 0px 12px;
text-align: left;

}

.paratestmoin{
  color:#4a4a68;
  line-height: 26px;
  margin: 0px 0px 17px;
  text-align: left;
}



.testmoin1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}


.testmoin2{
  display: flex;
  flex-direction: column;
  width: 254px;
}

.borderimgdiv{
  display: flex;
  border-left: 3px solid #785dfb;
}

.img91{
  width:25px ;
  /* border-radius: 50%; */
}

.img92{
  width: 140px;
  padding-left: 10px;
}
 
.img94{
  width: 80px;
  padding-left: 10px;
}
.img93{
  width: 100px;
  border-radius: 50%;
}



.testimonial p {
  font-size: 16px;
  color: #555;
  text-align: left;
}

.testimonial h3 {
  margin: 10px 0 5px;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.testimonial span {
  font-size: 14px;
  color: #777;
  text-align: left;
}

.testimonial .company-logo {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial .company-logo img {
  width: 120px;
}

.slider-dot-container {
  text-align: center;
  margin-top: 15px;
  z-index: 9;
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #ccc;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s all ease;
}

.dot.active {
  width: 40px;
  background: #6a33ff;
}












@media (min-width: 992px) {
  .image {
    margin-bottom: 0;
  }

  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 2rem; */
  }
}





















/* ----------- */



.section12 {
  width: 100%;
  background-color: #f9f7ff;
  /* padding: opx !important; */
  display: none;
}

.container {
  width: 100%;
  /* min-height: 100svh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container323 {
  width: 100%;
  /* min-height: 100svh; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.accordions {
  width: 90%;
  max-width: 60ch;
  margin: 0 auto;
  display: grid;
}

.accordion {
  border: 1px solid #f9f7ff;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: border-color .5s ease;
  background-color: #f9f7ff;

}

.accordion:hover {
  /* border-color: #000; */
}

.accordion__header {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px; 
  color: #4a4a68;
  font-weight: 700;
  gap: 10px;
  border-bottom: 1px solid #785dfb26;

}

.accordion__header:after,
.accordion__header:before {
  content: '';
  position: absolute;
  right: 1.5em;
  width: 2px;
  height: 0.75em;
  background-color: black;
  transition: all 0.2s;
}

.accordion__header:after {
  transform: rotate(90deg);
}

.accordion:has(input:checked) .accordion__header {
  /* color: #000; */
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 14px;
  /* padding-top: 3px; */

  * {
    /* padding: 0 1em 1em; */
  }
}

.accordion input {
  display: none;
}

.accordion:has(input:checked) {
  /* border-color: #000; */
  background-color: #f9f7ff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.accordion input:checked~.accordion__header:before {
  transform: rotate(270deg) !important;
  background-color: transparent;
}

.accordion input:checked~.accordion__header:after {
  transform: rotate(270deg) !important;
  background-color: black;
}

.accordion input:checked~.accordion__content {
  max-height: 1000px;
  /* Adjust based on content length */
}











.flexcont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}















.card {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  /* max-height: 350px; */
  border-radius: 15px;
  /* overflow: hidden; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #f7f4fd;
  cursor: pointer;
  /* transition: transform 0.3s ease; */
  padding: 20px;
  }

.card .image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;


}

.card .p {
  font-size: 1.25em;
  font-weight: 500;
}

.card .image img {
  z-index: 1;

  width: 155px;
  /* height: auto; */
  transform: translate(-16px, -16px);
  transition: all .35s ease-out;
  transform-origin: top left;
}

.image .p {
  color: white;
}

.card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  /* width: 100%; */
  padding: 20px;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #fff;
  /* transform: translateY(100%); */
  /* transition: transform 0.3s ease; */
}

.card .content h3 {
  margin: 0;
  font-size: 1.2em;
}

.card .content p {
  margin-top: 10px;
  font-size: 0.9em;
}

.card:hover .content {
  display: none;
}

.dispflex {
  display: flex;
  flex-direction: column;
}

.card:hover .dispflex {
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;

}

.card:hover .p2onhover {
  text-align: left;
  width: 100%;
}

/* Hover Effect */
.card:hover {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: flex-start; */
  background-color: #785dfb;
  /* width: 350px;
  max-height: 350px; */
}

.image:hover {
  width: 100%;
}

.card:hover .image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}

.card:hover .headingp {
  color: #fff;
}

.card:hover .image img {
  transform: scale(1.1) translate(0, -5px);
  width: 70px;
}


.card:hover .content {
  /* transform: translateY(0);  */
  display: flex;
}






/* .slide{
  height: 300PX;
} */

/* slider1 */
.slider-container {
  position: relative;
  width: 1040PX;
  overflow: hidden;
  margin: auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 379px;
  padding-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
}

.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.buttons button {
  background-color: white;
  color: #785dbf;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 23px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #b5a2a2;
  width: 50px;
  height: 50px;
}

#prev {
  position: absolute;
  left: 10px;
  display: none;
}

#prev:hover {
  background-color: #6249a1;
  /* Darker shade for hover effect */
  box-shadow: #9e8c8c 3px 3px 12px 1px;
  /* Slightly enhanced shadow */
  color: #fff;
  /* Change text color */
  transform: scale(1.1);
}

/* Keep left button positioned but hidden */
#next {
  position: absolute;
  right: 10px;
}

#next:hover {
  background-color: #6249a1;
  /* Darker shade for hover effect */
  box-shadow: #9e8c8c 3px 3px 12px 1px;
  /* Slightly enhanced shadow */
  color: #fff;
  /* Change text color */
  transform: scale(1.1);
}

/* Initially hide left button */









.centerflex {
  display: flex;
  justify-content: center;
  /* height: 494px; */

}

.btn-div {
  background-color: #f7f4fd;
  width: 100%;

  display: flex;
  justify-content: space-around;
  border-radius: 16px;
  outline: 1px solid #785dfb4d;
  padding: 15px;
  gap: 16px;

}


.tab-container {

  text-align: center;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 570px;
  height: 105px;
}

.tab-buttons button {
  /* padding: 10px 20px; */
  border: none;
  /* background: #007bff; */
  /* color: white; */
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;

  background-color: rgba(255, 255, 255, 0);
  /* Transparent */
  color: #4a4a68;
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 35.2px;
  padding: 16px;
  text-align: center;
  flex: 1;
}

.content32 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 72px;
  background-color: white;
  padding: 12px 10px 10px 15px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.img50pximg {
  width: auto;
  height: 50px;
  padding-right: 15px;
}


.tab-buttons button.active {
  background-color: #785dfb;
  border-radius: 10px;
  color: #fff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  width: 100%;
}


.item-center {
  display: flex;
  flex-direction: column;

}


.wide-height {
  width: 1140px;
  background-color: #f9f7ff;
  padding: 58px 32px 25px 32px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  flex-direction: row;
  gap: 18px;
}

.wide-height2 {
  width: 1140px;
  background-color: #f9f7ff;
  padding: 0px 32px 25px 32px;
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.wide-height3 {
  width: 1140px;
  background-color: #f9f7ff;
  padding: 0px 32px 52px 32px;
  display: flex;
  flex-direction: row;
  gap: 18px;
}


.slide-heading {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
}



.img-with-txt {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  padding-bottom: 25px;
}


.imgtxt {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 17px 0px #00000014;
  color: #333;
  display: flex;
  flex-direction: column;
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-content: center;
  line-height: 25.6px;
  text-align: left;
  padding-top: 26px;
  width: 113px;
}

.img45px-wide {
  width: 45px;
  /* padding: 0px 34px 0px 34px; */
}


.subheadimg {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding-bottom: 5px;
  text-align: center;
}








#prev-slide:hover {
  background-color: #6249a1;
  /* Darker shade for hover effect */
  box-shadow: #9e8c8c 3px 3px 12px 1px;
  /* Slightly enhanced shadow */
  color: #fff;
  /* Change text color */
  transform: translateX(-50%) scale(1.1);
}



#next-slide:hover {
  background-color: #6249a1;
  /* Darker shade for hover effect */
  box-shadow: #9e8c8c 3px 3px 12px 1px;
  /* Slightly enhanced shadow */
  color: #fff;
  /* Change text color */
  transform: translateX(50%) scale(1.1);
}


.lightbox-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #171717e2;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;

}
.lightbox-frame{
  background-color: #fff;
  width: 100%;
  /* height: 100%; */
  max-width: 600px;
  /* max-height: 337px; */
}
.lightbox-close{
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 40px;
  height: 42px;
}

.crossimg{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* padding: 10px;   */

}






















/* fotter */

.cont-flex {
  display: flex;
  /* position: relative; */
}

.widespace {
  color: #fff;
  white-space: nowrap;
  margin-top: 350px;
  /* margin-bottom: 60px; */
  margin-right: -390px;

}

.paraheading {
  color: #fff;
  font-size: 30.8px;
  font-weight: 700;
  /* letter-spacing: -08px; */
  margin-top: 20px;
  margin-bottom: 10px;
}

.subhead {
  font-size: 18px;
  margin-bottom: 10px;
}

.img23 {
  height: 530px;
  vertical-align: middle;
}


.btn3 {
  background-color: transparent;
  background-image: url("./image/white\ button.webp");
  width: 220px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  color: #785dfb !important;
  font-size: 16px;
}





.slider-container9789{
  display: none;
}




/* .flex-row3{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.image2{
    width: 140px;
    max-height: 60px;    
}

.image3{
    /* width: 140px; 
    max-height: 60px;    
}

.image4{
    width: 50px;
    max-height: 55px;    
} */


.scr-center {
  display: flex;
  flex-direction: column;
  align-items: center
}

.box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.fnt-size {
  font-size: 38px;
  font-weight: 800;
  margin: 40px 0px 25px;
  color: #4a4a68;
}

.fnt-size2 {
  font-size: 38px;
  font-weight: 800;
  margin: 0px 0px 0px;
  color: #4a4a68;
  text-align: center;
}

.box1 {
  background-color: #f9f7ff;
  border-radius: 10px;
  color: #333;
  padding: 20px 0px;
  text-align: center;
  width: 200px;
  /* height: 107px; */
}

.txt1 {
  font-size: 39px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
}

.txt2 {
  color: #333;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cus-slider-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #f9f7ff;
  height: 100px;
  display: flex;
  align-items: center;
}

.cus-slider-container {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.cus-slide {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  position: relative;
  animation-name: slide;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-timeline: forwards;
}

.cus-slide-mobile {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  animation-name: slide-mobile;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-timeline: forwards;
}

.cus-slide img {
  height: 45px !important;
  width: AUTO !important;
  object-fit: cover;
}

.cus-slide-mobile img {
  height: auto;
  width: 45%;
  object-fit: contain;
}

.cus-slider-wrapper-mobile {
  display: none;
}





.flexrow2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flip-card {
  width: 284px;
  height: 284px;
  perspective: 1000px;
  border-bottom: 3px solid #785dfb75;
  border-left: 3px solid #785dfb75;

}



/* Fixed Image in Corner */
.corner-image {
  position: absolute;
  bottom: -11.1px;
  right: -11px;
  width: 20px;
  height: 20px;
}

.l-corner-image {
  position: absolute;
  bottom: -11px;
  left: -11px;
  width: 20px; /* Adjust size as needed */
  height: 20px;
}

.corner-image2 {
  position: absolute;
  bottom: 5px;
  /* Position at the bottom */
  right: 5px;
  /* Position at the right */
  width: 30px;
  /* Adjust size as needed */
  height: 30px;
  /* Adjust size as needed */
}

.flip-card.noleftborder {
  border-left: none;
}

.flip-card.nobottom-border {
  border-bottom: none;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;

  /* padding: 30px 30px 30px 40px; */
  transform-style: preserve-3d;
  /* Ensures the back is visible during the flip */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  /* Flips the card */
}

.flip-card-front,
.flip-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;


}

.flip-card-back p {
  font-size: 13px;
  font-weight: 600;
  color: #4a4a68;
  align-items: center;
  text-align: center;
  padding: 0px 23px 0px 23px;
}

.flip-card-front {
  background-color: #f9f7ff;
  color: black;
}

.flip-card-front h3 {
  text-align: center;
}

.flip-card-back {
  background-color: #ece6ff;
  color: white;
  transform: rotateY(180deg);
  /* Rotates the back side 180 degrees */
}


.btncenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}




.btncenter2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


#testing-accordion{
  overflow: hidden;
}
.no-desktop{
  display: none;
}





@keyframes slide {
  from {
    left: 0;
  }

  to {
    left: -299.99%;
  }
}

@keyframes slide-mobile {
  from {
    left: 0;
  }

  to {
    left: -799.99%;
  }
}





@media screen and (max-width: 767px) {
  .cus-slider-wrapper {
    display: none;
  }

  .cus-slider-wrapper-mobile {
    width: 100%;
    overflow: hidden;
    display: block;
  }
}
@media only screen and (max-width: 767px) {


  .nav{
    justify-content: center;
  }

  .nav-section{
    width: 100%;
  }

  .mainSliderWrapper::after{
    background: #ffffff00;
    display: none;
  }

  .mainSliderWrapper{
    
  }
  
  .section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section1 {
    max-width: 279px;
  }

  .section2 {
    max-width: auto;
    display: none;
  }

  .flexrow2 {
    display: flex !important;
    flex-direction: column !important;
  }

  .container1 {
    max-width: 280px;
    padding: 0px 16px;
  }

  .container2 {
    width: 100%;
  }

  .section12 {
    width: 100%;
    background-color: #f9f7ff;
    /* padding: opx !important; */
    display: block;
  }

  .container3 {
    width: 100%;
  }

  .container4 {
    width: 100%;

  }

  .wide674px {
    width: auto;
  }

  .fnt-size {
    font-size: 32px;
    text-align: center;
  }

  .size52px {
    font-size: 38px;
    text-align: center;

  }

  .flex-row1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
  }


  .mobile-img50px {
    width: 50px;
  }

  .bold600 {
    text-align: center;
  }


  .center-alg12{
    padding-top: 30px;
    padding-bottom: 30px;

  }
  .fnt-size221{
    margin-block: 20px;
    font-size: 32px;
    text-align: center;
  }

  .txt-color{
    text-align: center;
  }
  .fnt-size2 {
    text-align: center;
    font-size: 28px !important;
  }

  .box {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    gap: 10px;
    width: 100%;
  }

  .box1{
    width: unset;
  }

  .color-grey {
    text-align: center;
  }

  .form-01 {
    width: auto;
  }

  .form-heading {
    font-size: 22px;
  }

  .form-heading-div {
    width: auto !important;
  }

  .form-input {
    width: auto !important;
  }

  .nav1 {
    display: none;
  }

  .flex-row {
    display: flex;
    flex-direction: column;
  }

  .btn-container {
    gap: 5px !important;
  }

  .wide444px {
    width: auto;
  }



  .flexcont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 16px;
  }

  .card:hover .p2onhover{
    font-size: 12px;
  }


  .card:hover .headingp{
    font-size: 14px;
  }

  .fnt-size2{
    padding: 5px;
    font-size: 32px;
  }

  .image21{
    display: none;
  }
  .tabs{
    display: none;
  }
  .slider-container9789 {
    width: 100%;
    overflow-x: scroll;
    position: relative;
    display: block;
  }
  .slider-container9789::-webkit-scrollbar{
    display: none;
  }
  .slider765 {
      display: flex;
      gap: 20px;
      transition: transform 0.3s ease;
  }
  .slide3242 {
      width: 250px;
      min-width: 250px;
      height: 370px;
      background: #ece6ff;
      display: flex;
      flex-direction: column;
      gap: 10px;
      /* align-items: center; */
      justify-content: flex-start;
      font-size: 18px;
      border-radius: 10px;
      text-align: left;
      padding: 28px;
      border-radius: 15px;
  }
  .imageee2334320 {
      width: 36px;
      height: 37px;
      margin-bottom: 10px;
      background-color: white;

  }

  
  .section-center{
    margin-left: 15px;
    margin-right: 15px;
  }

  .h3side{
    color: #4a4a68;
    font-size: 22px;
    font-weight: 700;

  }

.parah3side{
  color: #333;
  font-size: 16px ;
}



.tab-buttons{
  width: 400px;
}

.tab-btn {
  font-size: 14px !important;
}

.txt-color{
  padding: 0px 50px;
  color: #4a4a68 ;
}

.content32{
  width: 100%;
  max-width: 168px;
  display: flex;
  justify-content: flex-start;
  padding: 0px 5px 0px  0px ;
  height: 100%;
  max-height: 72px;
}


.wide-height{
  display: grid;
  width: auto !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 100px);
}

.wide-height2{
  display: grid;
  width: auto !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
}


.wide-height3{
  display: grid;
  width: auto !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 20px);
}


/* fotter */

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}


.cont-flex {
  display: flex;
  flex-direction: column;
  position: relative;
  }


  .widespace{
    margin-top: 0px !important;
    width: 100%;
  }


  .img23{
    width: 100%;
    height: 300px;
  }
  .paraheading{

  } 

  .section10{
    height: auto !important;
    margin: 0px !important;
    padding: 0px;
  }

  .container4{
    padding: 16px !important;
  }



  .widespace{
    margin-right: 0px !important;
    padding: 16px;
    white-space: unset !important;
  }

  .container6{
    width: 440px !important;
  } 
  .no-mobile{
    display: none;
  }
  .no-desktop{
    display: block;
  }


  .custom_tab{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .cus-tab-btn-container{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
  .cus-tab-btn-container::-webkit-scrollbar{
    display: none;
  }
  .cus-tab-btn{
    text-wrap-mode: nowrap;
    border-bottom: 2px solid transparent;
    padding: 8px 12px;
  }
  .cus-tab-btn.active{
    color: #6a33ff;
    border-bottom: 2px solid #6a33ff;
  }
  .cus-tab-wrapper{
    display: none;
    /* box-shadow: 0 0 4px #d2d2d2; */
    border-radius: 5px;
    padding: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .cus-tab-wrapper.active{
    display: flex;
  }
  .gallery-container{
    display: none;
  }
  .zoom_slider{
    width: 100%;
    height: 480px;
  }
  .zoom_slider .mask{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .zoom_slider .mask .zoom_slide{
    min-width: 75%;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 0 4px #afafaf;
    transform: translateX(0) scaleY(.9);
    transform-origin: bottom;
    transition: .5s all ease;
  }
  .zoom_slider .mask .zoom_slide.active{
    transform: translateX(0) scaleY(1);
  }
  .navigation_btns{
    display: flex;
    justify-content: center;
  }


  .gallery-item  img {
    width: 100% !important;
    max-width: 330px !important;
  }

  .imgcontainer21{
    width: 100%;
    max-width: 330px;
  }

  .gallery-item{
    width: 100%;
    max-width: 330px;
    
  }

  .btn-show-more{
    color: #785dfb;
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: none;
  }


  .imagegrid-mobile{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px; 
    width: 100%;
  }

  .mob-image{
    width: 100%;
    max-width: 45px;
  }

  .imagegrid-mobile-center{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px; 
    width: 100%;
  }


  .cont-img-txt-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    gap: 5px;
    padding: 16px;
    box-shadow: 0 0 4px #c1c1c1;
    border-radius: 5px;
  }
  
  .imagegrid-mobile{
    border: none;
  }


  .img50pximg{
    padding: 5px;  
  }


  .bgimgsec7{
    display: none; 
    }
  
    .bgimgsec8{
      display: none; 
    }

  .px16padding{
    padding: 16px;
  }

  .imgcontainer65{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .wide330{
    height: 100%;
    max-height: 330px;
  }
  .wideimg200{
    width: 100%;
    max-width: 100px;
  }
  .itemcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px;


  }
  .card{
    padding: 16px;
  }
  .card:hover .dispflex{
    display: flex !important;
    padding: 0px;
  }

  .card .image img{

    width: 100%;
    max-width: 120px;

  }
  .headingp{
    font-size: 12px !important;
  }

  .card:hover .image img{
    width: 100% !important;
    max-width: 30px !important;
  }

  .gridmask{
    /* padding: 20px; */
    /* grid-column-gap: 25px;
    grid-row-gap: 25px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: center;
    /* height: 100%;
    max-height: 280px; */
    justify-items: center;
    flex: 2;
  }
  .form-input{
    width: 100%;
  }
  .form-flex-down{
    display: flex;
    align-items: center;
  }
  .form-01 {
    margin: 0px 25px;
  }
  .form-heading-div{
    text-align: center;
  }

  .cus-slide-mobile img {
    width: 100px;
  }
}